* {
margin:0;
padding:0;
box-sizing: border-box;
}

:target {              /*target-styling*/
  display: block;      /*display-property,block element, ligesom <p>*/
  position: relative; /*flytter elementet -65px i forhold til normal pos*/
  top: -146px;
  visibility: hidden;  /*block-element er ikke synligt, men optager plads*/
}

html {
  scroll-behavior: smooth;
  font-size: 1.1rem;
}
body {
  background-color: #ffebfc;
  color: #707070;
  font-family: 'Pathway Gothic One', sans-serif;
  /*overflow-x: hidden;*/
}

p {
  font-family: 'Barlow Condensed', sans-serif;
}

h2 {
    color: #faf08f;
}

/*navbar*/
.bg-dark {
  background-color: #ffebfc !important;
}
.bg-light {
    background-color: #ffebfc!important;
}

.nav-link {
  color: #707070 !important;
  font-size: 20px;
  margin-top: 20px;
}

a.nav-link:hover {
  color: #cdb2da !important;
  padding-top: 5px !important;
}

.navbar-collapse {
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 15px;
  margin-bottom: 50px;
}

/*fjernelse af blå markering rundt om toggler, efter man har trykket på den*/
.navbar-toggler:focus{
 outline: none !important;
 box-shadow: none;
}

/*afstand mellem navbar og 1.overskrift*/
.py-3 {
margin-top: 140px !important;
}

/*breadcrumbs*/
.breadcrumb {
  padding: 0 !important;
  background-color: #e9ecef00 !important;
  color: #707070 !important;
}
.breadcrumb-item.active {
    color: #707070 important;
    font-size: 1.1rem;
  }

/*link styling*/
a {
  font-size: 1.1rem;
    color: #707070 !important;
}
a:link {
  text-decoration: none;
  color:#cdb2da;
}

a:hover {
  color: #cdb2da82 !important;
}

/*card-overlay - slideshow sektionen*/
.card-img-overlay {
  background-color: #0000008f;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-overlay:hover {
  background-color: #0000008f;
  opacity: 1;
}

/*styling af tekst/knapperne i slideshow*/
.btn-primary {
background-color: #faf08f00;
  border-color: #faf08f;
  color: #faf08f !important;
}
.btn-primary:hover {
  background-color: #cdb2da;
  border-color: #cdb2da;
  color: #707070 !important;
}
.btn-primary:active {
  background-color: #cdb2da82 !important;
  border-color: #cdb2da82 !important;
  color: #707070 !important;
}

.buttonText {
  font-size: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
}

/* se alle tutorials knap*/
.button {
    padding: 7px 7px;
    background-color: #faf08f;
    width: 170px;
    text-decoration: none;
    color: #707070 !important;
    border-radius: 25px;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
a:hover.button{
background-color: #cdb2da;
 cursor: pointer;
 color: #707070 !important;
}


/*fixed baggrundsbillede1*/
#parallax-image .parallax-one {
overflow-x: hidden;
width: 100%;
background: url('../img/fixed1.jpg')no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
background-repeat: no-repeat;
background-position: top center;
}

/*Lær at lave Daisy øreringe slide-in sektion*/
.container-fluid {
padding: 0;
}
.col-md-6 {
  background-color: #cdb2da;
}

.button2 {
  padding: 7px 20px 7px 20px;
  background-color: #faf08f;
  width: 100px !important;
  text-decoration: none;
  color: #707070 !important;
  border-radius: 25px;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.button2:hover {
  background-color: #cdb2da;
  color: #707070 !important;
}
.header {
  color:#faf08f;
}

.full-width-image img {
  width: 100%;
}

/*Lær at lave Daisy øreringe tutorial siden*/
.daisy {
  background-color: #FFEBFC;
  padding-left: 10%;
  margin-top: -2.5%;
}

ul {
  padding-left: 7%;
  padding-left: 6.5%;
}
/*.info {
  margin-top: -20px;
}*/

/*Sign up newsletter section */
/*fixed baggrundsbillede2 */
#parallax-image2 .parallax-two {
overflow-x: hidden;
width: 100%;
background: url('../img/sign-up2.png')no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
background-repeat: no-repeat;
background-position: top center;
}
.signup {
  position: relative;
  text-align: center;
  color: #faf08f;
}
.sign-up-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.form-control {
    background-color: #faf08f !important;
    border-radius: 1.25rem;
    padding-left: 20px !important;
    border: none !important;
    font-size: 1.1rem;
  }
.form-control:active {
  background-color: #faf08f !important;
}
.btn-without-border:focus {
    border: none !important;
    outline: none !important;
}
.btn-without-border {
  padding: 4px 4px;
  background-color: #faf08f;
  width: 100px;
  text-decoration: none;
  color: #707070 !important;
  border-radius: 25px;
  font-size: 1.4rem !important;
  text-align: center;
  margin-top: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}
.btn-without-border:hover{
background-color: #cdb2da !important;
 cursor: pointer;
 color: #707070 !important;
}

/* Invalid feedback farve*/
.invalid-feedback {
    color: #faf08f;
}

/* Kontakt formular */
.kontakt-formular {
  background-color:  #faf08f;
  border-radius: 1rem;
}

.form-kontakt{
  background-color: white !important;
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1) !important;
  margin-top: 6%;
}

.knap-kontakt{
  background-color: white;
  border-radius: 1.5rem;
  border: none !important;
  outline: none !important;
  color: #707070;
  cursor: pointer;
}

.knap-kontakt:hover {
  background-color: #cdb2da !important;
   cursor: pointer;
}

.invalid-feedback2{
  color: red;
}

/*Go to top knap*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #faf08f;
  color: #707070;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

#myBtn:hover {
  background-color: #cdb2da;
  color: #707070;
}

/*nyttige links - afstand mellem icon og text*/
.far, .fas, .fa-facebook-f, .fa-instagram, .fa-pinterest {
  margin-right: 10px;
}

/*Footer text light*/
.text-center {
  color: #707070;
}
