/* css til media queries*/

@media screen and (max-width: 991px){

.fab{
  display: none;
}
};

@media (min-width: 768px)
.tutorials {
  max-width:720px;
}

@media (min-width: 576px)
.tutorials {
  max-width: 576px;
}



/*@media screen and (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
};
@media screen and (min-width: 768px) {
.container, .container-md, .container-sm {
    max-width: 720px;
}
};
@media screen and (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
};
@media screen and (min-width: 1200px){
.container {
    max-width: 1140px;
}
};
@media screen and (min-width: 992px){
.container {
    max-width: 960px;
}
};
@media screen and (min-width: 768px){
.container {
    max-width: 720px;
}
};
@media screen and (min-width: 576px){
.container {
    max-width: 540px;
}
};*/
