/* css til media queries*/

@media screen and (max-width: 991px){

.fab{
  display: none;
}
};

@include media-breakpoint-up(sm) {
  .front {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .front {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  .front {
    font-size: 1.3rem;
  }
}
