/* css til media queries*/

@media screen and (max-width: 991px){

.fab{
  display: none;
}
};

@media (min-width: 768px)
.tutorials {
  max-width:720px;
}

@media (min-width: 576px)
.tutorials {
  max-width: 576px;
}
